{% extends 'base.html.twig' %}

{% block body %}
    <h2>{{ serie.name }}</h2>
    <div>{{ serie.overview }}</div>
    <div>{{ serie.vote }}</div>
    <h3>Seasons</h3>
    {% for season in serie.seasons %}
        <article>
            <img
                    src="{{ asset('img/posters/seasons/'~season.poster) }}"
                    alt="{{ serie.name }}">
        </article>
    {% endfor %}
{% endblock %}

{% block title %}
{% endblock %}

